@import '~iview/src/styles/index.less';

//@menu-dark-title: #001529;
//@menu-dark-active-bg: #000c17;
//@layout-sider-background: #001529;

@menu-dark-title: #1ABC9C;
@menu-dark-active-bg: #16A085;
@layout-sider-background: #1ABC9C;
@link-color: #38BA9B;
@primary-color: #38BA9B;
//@{menu-prefix-cls}-item-active:hover {
//  border-right: none;
//  color: #F1C40F;
//  //background: @primary-color !important;
//}
